body{
	color: #eff;
	font-family: Armata;
	font-size: 14px;
	background-color: #001919;
}

h3 {
	color: #aff;
	font-size: 19px;
	text-shadow: 0px 0px 10px #aff;
	font-family: Orbitron;
	text-align: center;
}

a {
	color: #aff;
}

article {
	margin: 20px;
	font-size: 13px;
	padding:30px;
	background: #182525;
	border: 1px solid #aff;
	box-shadow: 0px 0px 15px #aff;
	border-radius: 10px;

}

footer {
	display: none;
}

.logo {

	background-color: #fff;
	border: 3px solid #aff;
	box-shadow: 0px 0px 20px #aff;
	border-radius: 10px;
/*
	background: rgb(255,255,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 61%, rgba(170,255,255,1) 67%); 
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(61%,rgba(255,255,255,1)), color-stop(67%,rgba(170,255,255,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 61%,rgba(170,255,255,1) 67%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 61%,rgba(170,255,255,1) 67%); 
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 61%,rgba(170,255,255,1) 67%); 
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 61%,rgba(170,255,255,1) 67%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaffff',GradientType=1 );
	box-shadow: 0px 0px 20px #aff;
*/
    margin-left: auto;
    margin-right: auto;
    width:100px;
    margin-top: 10px;
   	padding: 5px;
}

.date {
	margin-top: 5px;
	font-size: 11px;
	color: #aff !important;
	white-space:nowrap;
	text-align: center;
}

.button-group {
	margin-top: 20px;
	font-family: Orbitron;
}

.button {
	color: #aff;
	font-size: 15px;
	text-shadow: 0px 0px 10px #aff;
	background: none;
	-webkit-box-shadow: none;
	border: none;
	margin-bottom: 0px;
}

.blog-text {
	margin-top: 20px;
}

.nav-bar {
	text-align:  center;
	margin-bottom: -20px;
}

.nav-bar li, .nav-bar > li > a:first-child, .nav-bar > li > a:last-child{
	float:none;
	display: inline;
}